<div fxLayout="row wrap" fxLayoutAlign="center center" >
  <div fxFlex="80%" fxFlex.md="100" fxFlex.sm="100" fxFlex.xs="100">
    <mat-card class="mat-elevation-z8">
        <p>halaman-api works!</p>
        <!-- <ul *ngFor="let dat in ISIapi; let i = index">
            <li>{{dat.doa}}</li>
        </ul> -->

        <mat-list role="list" *ngFor="let dat of ISIapi; let i = index">
          <mat-list-item role="listitem">{{ dat.kode_toko }} - {{ dat.nama_toko }}</mat-list-item>

        </mat-list>
      </mat-card>
    
       

    
    
</div>

<div fxFlex="50%" fxLayoutAlign="center center" fxFlexFill>
  <mat-card class="mat-elevation-z8">
    <mat-form-field appearance="fill">
      <!-- <mat-label>Favorite food</mat-label> -->
      <mat-select>
        <mat-option *ngFor="let food of ISIapi" [value]="food.nama_toko">
          {{food.nama_toko}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </mat-card>
</div>
</div>




