<div  fxLayout="row wrap" fxLayoutAlign="center center">
    <div class="header" fxFlex="80%" fxFlex.sm="100%" fxFlex.xs="100%" fxLayoutAlign="center">
        <!-- <header > -->
            <div class='logoCompany' fxLayoutAlign="start center"><img src="assets/dist/logo/LOGO.png" class="logonya">   </div>
            <div fxFlex></div>
          
                <ul class="navigation" fxLayoutAlign="end center  " fxHide.xs >
                    <li><a href="#">Home</a></li>
                    <!-- <li ><a [matMenuTriggerFor]="menu">Menu</a></li> -->

                    <!-- <button mat-button >Menu</button> -->
                    <!-- <mat-menu #menu="matMenu">
                        <button mat-menu-item (click)="goToHalamanAPI()">Connect to free API</button>
                        <button mat-menu-item>Item 2</button>
                    </mat-menu> -->
                    <div class="dropdown">
                        <button (click)="menuDrop($event)" class="dropbtn">Menu</button>
                        <div id="myDropdown" class="dropdown-content">
                            <a (click)="goToHalamanAPI()">Connect to free API</a>
                            <a href="#">Item 2</a>
    
                        </div>
                    </div>

                    <li><a href="#"> Service</a></li>

                </ul>
       
              
                <button (click)="bukaNav()" fxShow.xs fxHide mat-button><mat-icon>more_vert</mat-icon>   </button>

                <div class="wadah_menuMobile" *ngIf="tampilMenuBar==true" >
                    <button mat-button class="tombol_X" (click)="bukaNav()"> <mat-icon><span class="material-symbols-outlined">
                            close
                        </span></mat-icon></button>
                        <mat-nav-list role="list">
                            <a  href="#" mat-list-item role="listitem">Home</a>
                            <!-- <a  href="#" mat-list-item role="listitem">Menu</a> -->
                            <div class="dropdownM">
                                <button (click)="menuDropM($event)" class="dropbtnM">Menu</button>
                                <div id="myDropdownM" class="dropdown-contentM">
                                    <a (click)="goToHalamanAPI()">Connect to free API</a>
                                    <a href="#">Item 2</a>
  
                         
                                </div>
                            </div>
                            <!-- <a mat-list-item role="listitem" (click)="goToHalamanAPI()" >Connect to free API</a> -->
                            <a mat-list-item role="listitem">Service</a>
                        </mat-nav-list >
                </div>


               

        
        
    </div>
    <!-- <div  fxFlex="80%" fxFlex.sm="100%" fxFlex.xs="100%"> -->

        <div class="content_kiri" fxFlex="60%" fxFlex.sm="100%" fxFlex.xs="100%" fxLayout="row wrap" fxLayoutGap="16px grid">
            <!-- <div class="content_kiri_dalam_satu"  > -->
                <div  *ngFor="let dat of Data;let i=index" fxFlex="33" fxFlex.sm="100" fxFlex.xs="100"   fxFlexLayoutAlign="center center" >
                    <!-- <mat-card    -->
                    <!-- >  -->
                    <mat-card class="wadah_art mat-elevation-z8">
                        <div class="judul" fxFlexLayoutAlign="center center">{{dat.kode_materi}}</div>
                        <div class="content">
                            {{dat.nama_materi}}
                        </div>
                        <div class="picture">
                    
                            <img *ngIf="dat.link_foto.length>4" class="content_pic" src={{path_foto+dat.link_foto}}>
                            <img *ngIf="dat.link_foto.length<4" class="content_pic" src={{path_foto_kosong}}>
                            
                            <div  class="harga">Rp. {{dat.harga}}</div>
                        </div>
                        
                    </mat-card>
                
                </div>
               

            <!-- </div> -->
            <!-- <div class="content_kanan_dalam_satu"  fxFlex="48"  fxFlex.sm="100%" fxFlex.xs="100%" >content_kanan_dalam_satu</div> -->
            <!-- kiri -->
        </div>

        
       
        <div class="content_kanan" fxLayoutAlign="center center"  fxFlex="20%" fxFlex.sm="100%" fxHide.xs>
            <div class="profile" ><img src="assets/dist/logo/LOGO.png" class=" logoProfile"> </div>
        </div>
        
        <mat-card mat-elevation-z8 class="content_bawah" fxLayoutAlign="center center"  fxLayoutGap="10px grid" fxFlex="80%" fxFlex.sm="100%" fxFlex.xs="100%" fxLayout="row wrap" >
            <div fxFlex="30" fxFlex.xs="100" >
                <mat-card class="mat-elevation-z4">
                    <p> bawah/footer left</p>
                </mat-card>
                
            </div>

            <div fxFlex="30" fxFlex.xs="100">
                <mat-card class="mat-elevation-z4">
                    <p> bawah/footer middle</p>
                    <p> bawah/footer middle</p>
                    <p> bawah/footer middle</p>
                </mat-card>
               
            </div>
            <div fxFlex="30" fxFlex.xs="100" >
                <mat-card class="mat-elevation-z4">
                <p> bawah/footer right</p>
                </mat-card>
            </div>
           
        </mat-card>
    <!-- </div> -->
</div>

