.mat-menu {
    max-width: none !important;
  }

.spacer {
    flex: 1 1 auto;
  }


// header {
//        height: 80px;
// }

.header {
    position: fixed;
    background-color: rgb(102, 230, 102);
    border-radius: 10px;
    // height: 100%;
    width: 100%;
    height: 70px;
    top: 0;
    z-index: 1;
}

 .logoCompany{
    top:10px;
    padding: 25x;
    background-color: white;
}

.logonya{
    width: 100px;
    height: 50px;
    padding: 5px;
    position: fixed;
}

// menu desktop awal
.navigation{
    z-index: 10;
    position: relative;
    right:50px;
}

.navigation li {
    list-style: none;
}

 .navigation li a {
    display: inline-block;
    color: blue;
    font-size: 24px;
    font-weight: 400;
    text-decoration: none;
    margin-left: 40px;
}
// menu desktop akhir

.content_kiri{
    // width:100% ;
    background: yellow;
    height: 500px;
    
    padding: 50px;
    margin-top: 75px;
    overflow-y: auto;
    // position: absolute;
}
.content_kanan{
    background: blue;
    border-radius: 40px;
    height: 500px;
    margin-left: 10px;
    margin-top: 55px;
}
.profile{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: white;
}

.logoProfile{
    width: 150px;
    height: 150px;
    position: absolute;
    margin-left: 25px;
    margin-top: 23px;
}

.content_bawah{
    width: 100%;
    height: 300px;
    background: red;
}

.content_bawah{
    margin-top: 10px;
}

.content_kiri_dalam_satu,.content_kanan_dalam_satu{
    background-color: white;
    padding: 5px;
height: 100%;
    // margin: 5px;
}

.harga{
    text-align: center;
    font-size: 16px;
    font-weight: bold;
}

// ::ng-deep .mobileMenu {
//     width: 100%;
// }

// ::ng-deep {.mat-menu-panel.mobileMenu { 
//     // width:500px; 
//     max-width:fit-content !important;
// } }
// .wadah_art{
//     padding: auto;
// }
.judul {
    height: 30px;
    background-color: aquamarine;
    border-radius: 40px;
    text-align: center;

}
.content{
    height: 50px;
    text-align: center;
    overflow-y: hidden;
}

.picture{
    height: 300px;
    // width: 100px;
    // margin-left: 45px;
}
.content_pic{
    height: 50%;
    width: 100%;
    text-align: center;
    border-radius: 10px;
}

     /* Dropdown Button */
     .dropbtn {
        background-color: rgb(102, 230, 102);; /* 3498DB */
        color: blue;
        padding: 16px;
        // font-size: 18px;
        font-size: 24px;
        font-weight: 400;
        border: none;
        cursor: pointer;
      }
      
      /* Dropdown button on hover & focus */
      .dropbtn:hover, .dropbtn:focus {
        /*background-color: #2980B9;*/
         font-weight: bold;
      }
      
      /* The container <div> - needed to position the dropdown content */
      .dropdown {
        position: relative;
        display: inline-block;
      }
      
      /* Dropdown Content (Hidden by Default) */
      .dropdown-content {
        display: none;
      border-radius: 4px;
        position: absolute;
        // background-color: rgb(102, 230, 102);; /* f1f1f1 */
        background-color: white;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
      }
      
      /* Links inside the dropdown */
      .dropdown-content a {
      
        color: blue;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
      }
      
      /* Change color of dropdown links on hover */
      .dropdown-content a:hover {background-color: #ddd}
      
      /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
      .show {display:block;}  

@media (max-width: 599px) {
    .content_kiri{
        margin-top:100px;
    }
    .header {
            position: fixed;
            background-color: bisque;
            width: 100%;
            top: 0;
            height: 50px;
        }
    .logoCompany{
        position: fixed;
        top:30px;
        left:0px;
    }
    .logonya{
    width: 81px;
    height: 32px;
    padding: 5px;
    position: fixed;
    top: -4px;
    }

    .wadah_menuMobile{
        width: 100%;
        height: 100%;
        position: fixed;
        background-color:black;
    }

    .wadah_menuMobile a{
        color:white;
    }

    .tombol_X{
        right:3%;
        position: fixed;
        z-index: 100;
        color:white;
    }

// start menu_mobil
// .wadah_menu_mobil {
//     display: flex;
//     flex-direction: column;

//     z-index: 100;
//     position: fixed;
//     width: 100%;
//     height: 100%;
//     margin: auto;
//     background-color: rgb(165, 203, 228);
// }
// .close_menu{
//     right:-305px;
// }
  // end menu_mobil
    
.content_kiri{

    padding: 5px;
    margin-top: 50px;
    
}


.wadah_art{
    margin-top:35px;
    height: 400px;
}
.picture{
    height: 450px;
    // width: 100px;
    // margin-left: 45px;
}

.profile{ display: none;}


 /* Dropdown Button */
 .dropbtnM {
    background-color:black; /* 3498DB ;  rgb(102, 230, 102); */
    color: white;
    padding: 16px;
    font-size: 18px;
    // font-size: 24px;
    // font-weight: 400;
    border: none;
    cursor: pointer;
  }
  
  /* Dropdown button on hover & focus */
  .dropbtnM:hover, .dropbtn:focus {
    /*background-color: #2980B9;*/
     font-weight: bold;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdownM {
    width: 100%;
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-contentM {
    display: none;
  border-radius: 4px;
    position: absolute;
    // background-color: rgb(102, 230, 102);; /* f1f1f1 */
    background-color: white;

    min-width: 160px;
    width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    cursor: pointer;
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-contentM a {
  
    color: blue;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-contentM a:hover {background-color: #ddd}
  
  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
  .show {display:block;} 



}